<div class="admin_courses">
  <div class="container custom_container">
    <div class="row">
      <div class="col-sm-3 vertical_nav">
        <div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">

            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to "Profile", admin_path, method: :get%></li>
                <li class="active"><%= link_to "Manage courses", admin_manage_courses_path%></li>
                <li><%= link_to "Manage instructors", admin_manage_instructors_path%></li>
                <!-- <li><a href="#">Reviews <span class="badge">1,118</span></a></li> -->
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <div class="col-sm-9 board">
        <h2 class="topic">All courses : </h2>
        <!-- <button type="button" class="btn btn-default admin_profile">Edit</button>
        <button type="button" class="btn btn-success">Submit</button>
        <div class="admin_profile">
          <h3>Username : admin_email</h3>
          <h3>Password : admin_password<h3>
        </div> -->



      </div>
    </div>

  </div>
</div>
