.comment_all{

}


.centered6 {
position: relative;
top: 40%;
left: 50%;
/* bring your own prefixes */
transform: translate(-50%, -50%);
}

.comment_section{
border: 1px solid #d1dbe5;
border-radius: 4px;
background-color: #fff;
overflow: hidden;
box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
width: 600px;
height: 200px;
color: black;
}

.topic5{
  margin-top: 24px;
  margin-left: 40%;


}

.inline{
  display: inline-block;
}

.comment_content{
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
